.footer {
  background-color: $neutral-05;
  padding: 10rem 0;
  font-size: $body-sm;

  @include query(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include query(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
  }

  &__navigation {
    border-top: 1px solid $neutral-04;
    padding-top: 2rem;
    display: inline-block;

    @include query(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    transition: all 250ms ease-in-out;
    &:link,
    &:visited {
      background-color: $neutral-05;
      text-decoration: none;
      color: $neutral-04;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $primary-color;
      box-shadow: 0 1rem 2rem rgba($neutral-dark, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $neutral-04;
    padding-top: 2rem;
    width: 80%;
    color: $neutral-04;
    float: right;

    @include query(tab-port) {
      width: 100%;
      text-align: center;
      float: none;
    }
  }
}
