.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($neutral-dark, 0.4);
    position: absolute;
    transition: all 300ms ease-in-out;
    z-index: 10;
    outline-offset: 1rem;

    &--left-pic {
      left: 0;
      top: 1rem;
    }

    &--right-pic {
      right: 0;
      top: 5rem;
    }

    &--bottom-pic {
      left: 20%;
      top: 13rem;
    }

    &:hover {
      outline: 1rem solid $primary-color;
      transform: scale(1.4) translateY(-2.5rem);
      box-shadow: 0 2.5rem 4rem rgba($neutral-dark, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
