.story {
  width: 75%;
  margin: 0 auto 6rem;
  box-shadow: 0 3rem 6rem rgba($neutral-dark, 0.1);
  background-color: rgba($neutral-02, 0.5);
  border-radius: 3px;
  padding: 6.5rem;
  font-size: $body-md;
  transform: skewX(-12deg);

  @include query(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include query(mob) {
    transform: skew(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%) content-box;
    shape-outside: circle(50% at 50% 50%) content-box;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include query(mob) {
      transform: translateX(-3rem) skewX(0deg);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    transition: all 500ms ease-in-out;
  }

  &__text {
    transform: skewX(12deg);

    @include query(mob) {
      transform: skewX(0deg);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $neutral-02;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(90%);
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
