.u-center-text {
  text-align: center;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;

  @include query(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-md {
  margin-bottom: 4rem;

  @include query(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-top-xl {
  margin-top: 10rem;
}

.u-margin-top-lg {
  margin-top: 8rem;
}

.u-margin-top-md {
  margin-top: 6rem;
}

.u-margin-top-sm {
  margin-top: 4rem;
}

.u-margin-top-xsm {
  margin-top: 2rem;
}
